body {
    color: #000;
    /* background-image: url(../images/earth_wallpaper.jpg); */
    background: url(../images/earth_wallpaper.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#main-container {
    background-color: #fff;
    border: 1pt solid #ddd;
    width: 100%;
    max-width: 960px;
}

.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}
